/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/*ME HE VISTO TODAS LAS CLASES DE CSS DE NUEVO PARA EL LAB DE CLONAR INSTAGRAM,
POR LO QUE ESTA SEMANA SEGUIRÉ TRABAJANDO EN ESTE LAB PARA INTENTAR MEJORARLO. 
*/


@media (max-width: 768px) {


body {
    background-color: #540B51;
    
}

nav {
    background-color: #540B51;
    height: 30vh;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: white;
    display: block;
    
}

nav {
    display: flex;
    width: 120vh;
    grid-template-columns: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    
}

header {
    display: flex;
    width: 70vh;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 35px;
    align-items: center;

}

.header-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    grid-template-columns: 80%;
    align-content: center;
    margin: 30px;
    padding: 10px;
}

#sign-button {
    border: solid 2px;
    
}

.big-image-header {
   width: 150vh;
   justify-items: flex-end;
}

p {
    font-size: 40px;
    color: white;
    text-align: center;
}

header.p {
    font-size: 60px;
}


}